.Search_Button {
  width: 75px;
  height: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #3DD5E0;
  color: #f9f9f9;
  text-transform: uppercase;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
    background: #1bcbd8;
  }
}

.Accordion_Button {
  margin: 2px auto;
  border: 2px solid #000;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  outline: none;
  border-radius: 10px;
  i {
    margin: 1rem;
  }
  .City_Data {
    display: flex;
    align-items: center;
    .City_Pollution {
      font-size: 1.5rem;
      padding: 0 0.5rem;
    }
  }
  &:hover, &:focus {
    cursor: pointer;
    background: #f7cf4e;
  }
}

.Modal_Button {
  background: #f9f9f9;
  color: #1cd149;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  width: 33%;
  border: 2px solid #27b14a;
  border-radius: 10px;
  margin: 1rem 0;
  &:hover {
    cursor: pointer;
    background: #1cd149;
    color: #fff;
  }
}

@media(max-width: 1439px) {
  .Accordion_Button {
    .City_Data {
      .City-Name {
        font-size: 1.2rem;
      }
      .City_Pollution {
        font-size: 1rem;
      }
    }
  }
}

@media(max-width: 1023px) {
  .Accordion_Button {
    width: 75%;
  }
}

@media(max-width: 767px) {
  .Accordion_Button {
    width: 95%;
    .City_Data {
      .City-Name {
        font-size: 1rem;
      }
      .City_Pollution {
        font-size: .8rem;
      }
    }
  }
}