.City_Desc {
  margin: 0 auto;
  width: 50%;
  max-height: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #f9f9f9;
  border-radius: 10px;
  transition: max-height .3s ease-out;
  .Desc {
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 1.8;
  }
}

.active {
  display: flex;
  max-height: 5000px;
}

@media(max-width: 1439px) {
  .City_Desc {
    .Desc {
      font-size: 1.2rem;
    }
  }
}

@media(max-width: 1023px) {
  .City_Desc {
    width: 75%;
    .Desc {
      font-size: 1rem;
    }
  }
}

@media(max-width: 767px) {
  .City_Desc {
    width: 95%;
  }
}